
html{
	height: 100%;
}
body {
	background-color: #DCDCDC;
	position: relative;
	height: 100%;
}

#main {
	background-color: white;
	position: absolute;
	width: 40%;
	height: 100%;
	top: 60px;
	right: 30%;
	left: 30%;
}
#utilitytab {
	background-color: #6495ED;
	position: absolute;
	width:  100%;
	height: 50px;
}
#profile	{
	background-color: #D3D3D3;
	position: absolute;
	width: 20%;
	height: 100%;
	top: 50px;
	right: 10%;
}

#listfriend{
	background-color: #D3D3D3;
	position: absolute;
	width: 20%;
	height: 100%;
	top: 50px;
	left: 10%;
}

